.form-wrapper {
    display: flex;
    gap: 12px;
}

.add-btn {
    padding: 8px 12px;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
}

.add-btn:hover {
    cursor: pointer;
    background: #4285F4;
    border: 1px solid #3b79dd;
    color: white;
    transition: 0.2s;
}