.form-wrapper {
    display: flex;
    gap: 12px;
}

.btn {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
}

.btn:hover {
    cursor: pointer;
    transition: 0.2s;
}

.add-btn:hover {
    background: #4285F4;
    border: 1px solid #4285F4;
    color: white;
}

.clear-btn:hover {
    background: #ff6060;
    border: 1px solid #ff6060;
}