.filter {
  display: flex;
  gap: 18px;

  & button {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #dfdfdf;
    cursor: pointer;
  }

  & svg {
    font-size: 22px;
    width: 22px;
    cursor: pointer;

    &:hover {
      filter: 0px 0px 11px;
    }
  }
}
