
.list {
  font-family: "Poppins", sans-serif;
  border: 1px solid #dfdfdf;
  display: flex;
  background: white;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;

  & li {
    display: flex;
    padding: 8px;

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &:hover {
      cursor: pointer;
      background: #dedede;
      transition: 0.3s;
    }
  }
}

.no-todo-msg {
  color: hsl(0, 0%, 79%);
}
